@import "../../assets/styles/global.scss";


.login-wrapper {
 // background: url(../../assets/brands/background.png);
  background-size:cover;
// position: fixed;
  //width: 100%; 
  //height: 100%;
  //overflow: hidden;
  //display: flex;
 // align-items: center;
background: url(../../assets/brands/background.png);
  background-size:cover;
  height: 100%;
 position: fixed;  
display: flex;
  align-items: center;
  width: 100%;
.mobile-header {
  display: none;
border: none;
 
background-color: $white;
@media (max-width: 1024px){
    display: flex;
    background-color: #FFFFFF;
    min-height: unset;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    box-shadow: 0px 3px 10px #FFFFFF;
    position: sticky;
    border: none;
    z-index: 9;
  }

  .branding {
      img {
          width: 60%;
      }
  }
.navbar {
   background-color: $white;
    height: 64px;
    @media (max-width: 1024px) {
      display: none;
    }
    a {
      color: #0000FF;
    }
        }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: 767px){
      align-items: center;
    }

    .logo {
      max-width: 80%;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 50px;
      font-weight: bolder;
      @media screen and (max-width: 767px){
        font-size: 34px;
      }
    }
    p {
      font-size: 28px;
      @media screen and (max-width: 767px){
        font-size: 24px;
      }
    }
  }

.approve{
  font-size: 24px;
}
.resend{
  font-size: 14px;
}
  .card{
       border: none;
       box-shadow: 0px 3px 25px #00000029;
    
  }

  .cardHeight{
    height:400px;
 
}

  .login-form {
    display: flex;
    flex-direction: column;
    .card-title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
    
    .cursorP{
      color: #0056b3;
      cursor: pointer;
    };

    .form-groupverify {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
       .form-controlverify {
        border: none;
        border-bottom: 1px solid #D6D6D6;
        width:25%;
        border-radius: 0;
        font-size: 20px;
        padding-left: 2rem;
        outline: none;
      }
    }

    .form-group {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
     
      .imgs {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        left: 5px;
      }

      .showpassword {
        position: absolute;
        top: 10px;
        right: 5px;
        left: unset;
        z-index: 9;
        cursor: pointer;
      }


      .form-control {
        border: none;
        border-bottom: 1px solid #D6D6D6;
        border-radius: 0;
        font-size: 20px;
        padding-left: 2rem;
        outline: none;
        
    .custom-dropdown .btn-custom-dropdown {
      font-size: 19px;
      @media (max-width: 1250px) {
        font-size: 19px;
      }
    }
      }
    }

    .forgot-link {
      align-self: flex-end;
      color: #A8A8A8;
      font-size: 14px;
    }

    .checkbox-group {
      span {
        color: #707070;
      }
    }

    .signup-link {
      font-size: 14px;
      color: #707070;
    }
  }
}



