@import '../../../assets/styles/global.scss';

.orders {
  .overflow{
    height: 400px;
    overflow: auto;
  }

  .rTable {
    display: flex;
    flex-direction: column;
    width: 100%;

    .rTableHeading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .rTableBody {
      display: flex;
      justify-content: space-between;
    }

    .rTableRow {
      display: flex;
      background: #fff;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 5px 10px;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #00000029;
    }

    .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
    }


    .rTableCell,
    .rTableHead {
      flex: 1;
      padding: 3px 10px;
      align-self: center;
      font-size: 12px;
      color: #707070;
      font-weight: bold;
    }

    .rTableHead {
      text-align: center;
    }
    
    .rTableCell {
      color: $black;
      text-align: left;
      font-weight: 400;
      a {
        color: $black;
        font-weight: 400;
      }

    .text-primary{
      word-wrap: break-word;
      text-align: left;
    }
    }

    .combine-data {
      text-align: center;
      display: flex;
      align-items: center;
      font-weight: bold;
    
        color: #0093E9;

        
      
      .round-sign {
        margin-right: 10px;
        border-radius: 100%;
        background-color: #FFBCC4;
        font: Bold 11px Roboto;
        letter-spacing: 0px;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}