@import "../../assets/styles/global.scss";

.inventory {
  padding-right: 3rem;
  padding-left: 3rem;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .full-width-ribben {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #eaeaea;
    .filter {
      margin-left: 9rem;
      margin-right: 3rem;
    }
  }

  .ribben-space {
    margin-top: 8rem;
  }

  .fix-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: 1600px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .rTableHeader{
    font-weight: bold;
    text-align: center;
  }
  .table .rTable .rTableCell {
      color: $black;
      text-align: left;
      font-weight: 400;
 }
  .list-container {
    h4 {
      color: $OBBlue;
      font-weight: 400;
      font-size: 16px;
    }

    .btn {
      font-size: 11px;
      padding: 0;
    }

    .overflow {
      .col-sm-6 {
        margin-top: 12px;
        padding-bottom: 8px;
      }
    }

    .product{
      font-size:12px;
    }
    .round-sign {
      border-radius: 100%;
      font: Bold 13px Roboto;
      letter-spacing: 0px;
      color: #707070;
      padding: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    p {
      font-size: 10px;
      margin-top: 0.5rem;
      text-align: center;
      min-height: 30px;
      margin-bottom: 0.2rem;
    }

    h3 {
      font-size: 14px;
      font-weight: bold;
    }

    .overflow {
      overflow: auto;
      height: 400px;
    }
  }

  .panel {
    box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: $white;
    padding: 20px 20px 5px 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;

    & > .d-flex {
      margin-top: 15px;
    }

    @media screen and (max-width: 768px) {
      border-right: none;
      justify-content: flex-start;
    }

    @media (max-width: $lg) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .picture {
      width: 40px;
      height: 40px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      display: flex;

      @media (min-width: $xl) {
        width: 60px;
        height: 60px;
      }

      img {
        width: 40px;
        height: 18px;
      }

     
      &.truck-bg {
        background:  #e8f4f8;
      }                                       

      &.sent-bg {
        background: #d4ebf2;
      }

      &.recived-bg {
        background: #fff2e5;
        
      }

      &.transit-bg {
        background: $C0Blue;
      }
    }

    .tab-container {
      display: flex;
      justify-content: space-between;
      .tab-item {
        font-size: 8px;
        color: #707070;
        margin-right: 3px;
        cursor: pointer;
      }
        .tab-item:hover {
          border-bottom: 2px solid black;
          color:	rgb(0,0,0);
          font-size: 10px;
          
        }

      
      
     
    }

    .title {
      font-size: 13px;
      line-height: 8px;
      font-weight: bold;
      color: #707070;
      margin-bottom: 8px;
      @media (min-width: $xl) {
        font-size: 14px;
      }
      @media (min-width: $sm,$md,$lg) {
        font-size: 12px;
      }
    }

    .count {
      font-size: 26px;
      margin-top: 12px;
      font-weight: bold;
      color: #2BA3AE;
    }

    .dayStatus {
      font-size: 9px;
      align-self: flex-end;
      color: $black;
    }

    &:after {
      border: 1px solid $lightGrey;
      height: 50px;
    }

    .truck-text {
      color: #2BA3AE;
    }

    .sent-text {
      color: #0093E9;
    }

    .recived-text {
      color: $darkYellow;
      
    }

    .transit-text {
      color: $deepBlue;
    }
  }
}
