@import '../../assets/styles/global.scss';

.select{
  display: none;
}

.heading{
  font-weight: 700;
}

.receiveShipment {
  padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }


   
    .form-group,
    .input-group {
      display: flex;

      label {
        color: #707070;
        text-align: center;
        font-size: 14px;
        margin-bottom:0px;

      }

      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color:#000000;
        font-size: 14px;
flex-basis: 45%;
      flex-grow: inherit;
      font-size: 13.5px;
      }


      @media (min-width: $xl) {
        label {
          font-size: 15px;
          text-align: left;
          margin-bottom:0px;
       max-width: 33.33333%; }


        .form-control {
          border: none;
          background: transparent;
          border-bottom: 2px solid #d6d6d6;
          border-radius: 0;
          color: $black;
          font-size: 15px;
flex-basis: 65%;
        flex-grow: inherit;
        font-size: 13px;

        }

  }
   }
input[type=radio] {
display: inline;
 margin-left:20px;
}
.commonpanle{
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 17px 10px 10px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 10px;
  }
.panel {
  .elemens{
    margin-bottom: 0;
  }
  .potext{
      font: 13px/3px $roboto ;
  }

  .poheads{
    color: black;
    font-weight: bold;

}

  }
.button{
position: absolute;
top: 80%;
left:77%;
color: #4A4A4A;


}
.button1{
position: absolute;
top:80%;
left:85%;
color: #4A4A4A;

}
    .input-group {
      position: relative;
      margin-bottom: 1rem;



      .input-group-append {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }


      }

