@import '../../assets/styles/global.scss';

.modal-backdrop {
  background-color: #707070;
  opacity: .5;
  border: 1px solid #707070;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal {
  display: block;
  .modal-dialog {
    .modal-content {
      box-shadow: 9px 9px 20px #00000033;
      border-radius: 20px;
      padding: 1rem;

      .modal-header {
        border: none;
        display: flex;
        align-items: center;

        .modal-title {
          font: Bold 25px/13px Roboto;
          letter-spacing: 0;
          color: $primaryBlue;
        }
      }

      .modal-body{
        padding:0rem;
      }

      .modal-footer {
       
        border: none;
      }
    }
    
  }
}