@import "../../assets/styles/global.scss";

.header {
  height: 80px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 8px #00000029;

  .logo{
    cursor: pointer;
    background-size: contain;
  }

  .branding {
    display: flex;
    padding-left: 30px;
    flex-basis: 70%;
    img {
      width: 198px;
      object-fit: contain;
    }
    @media (min-width: $xl) {
      flex-basis: 75%;
    }

    @media screen and (max-width: 768px) {
      padding-left: 10px;
      flex-basis: 75%;
      justify-content: space-between;
      img {
        width: 80%;
      }
    }

    .mobile-menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        font-size: 30px;
        font-weight: 400;
        margin-right: 17px;
        align-items: center;
      }
    }
    h1 {
      font-size: 32px;
      letter-spacing: 3px;
      font-weight: bold;
      margin: 0;

      &:first-child {
        color: $primaryBlue;
      }

      &:nth-child {
        color: $primaryBlue;
      }
    }
  }

  .actions {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: transparent linear-gradient(246deg, $primaryBlue 0%, $skyBlue 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 100px;
    flex: 1;
    height: 80px;

    .search-form {
      width: 350px;
      position: absolute;
      // right: 23rem;
      right: 18rem;
      left: unset;
      display: block;

      @media screen and (max-width: 768px) {
        display: none;
      }
      img {
        position: absolute;
        right: 6px;
        top: 8px;
        width: 20px;
        opacity: 2;
      }
      .search-field {
        height: 35px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 3px #00000065;
        border-radius: 8px;
        // opacity: 0.75;
      }
    }

    .user-info {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      padding-right: 30px;
      color: $white;
      img {
        max-width: 100%;
      }
      .notifications {
        position: relative;
        .bellicon-wrap {
          position: relative;
          cursor: pointer;
          .badge {
            position: absolute;
            top: -10px;
            left: 10px;
            border-radius: 100%;
          }
        }
        .slider-menu {
          top: .9rem;
          right: 0rem !important;

          .slider-item {
            white-space: pre-wrap;
            min-width: 200px;
            &:first-child {
              border-top: none;
            }
          }
        }
        @media screen and (max-width: 768px){
          display: none;
        }
        margin-right: 1.5rem;
        img {
          width: 20px;
        }
      }
      .divider {
        // margin-right: 1rem;
        margin-right: 2rem;
        // border: 1px solid #fff;
        border: 0.5px solid #fff;
        // height: 35px;
        height: 45px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .userName {
        max-width: 10vw;
        margin-right: 1rem;
        .uname {
          font-size: 9px;
          text-align: right;
          margin: 0;
        }

        .cname {
          font-size: 12px;
          text-align: right;
          font-weight: 700;
          margin: 0;
        }
        @media screen and (max-width: 768px){
          display: none;
        }
      }

      .userPic {
        margin-right: 0.5rem;
        img {
          width: 40px;
          height:40px;
        }
      }
      .userActions {
        img {
          width: 13px;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 768px) {
        padding-right: 10px;
      }
    }
  }
}

.slider-menu {
  display: flex;
  flex-direction: column;
  top: 2.6rem;
  right: 1.8rem !important;
  left: unset;
  max-width: 15rem;
  text-align: center;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 38px, 0px);
  will-change: transform;
  box-shadow: 0px 3px 10px $grey;
  border-radius: 0 0 8px 8px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }
  
  .slider-item {
    overflow: hidden;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: $xl) {
      margin: 0.5rem 0;
      padding: 0.25rem 1.5rem;
      font-size: 18px;
    }
  }

  .slider-item-text {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
}
