@import '../../../assets/styles/global.scss';

.filter{
  .filter-item {
    flex: 1;
    justify-content: center;
    display: flex;
    max-width: 80%;
    align-items: center;

    .filterTitle {
      font-size: 13px;
      color: #000;
      margin-left: 5px;
      margin-right: 5px;
    }

    .filterAction {
      cursor: pointer;
    }
  }


  .text{
    color:white;
  }

  .divider {
    height: 50px;
    border: 1px solid $d6Grey;
    display: flex;
    align-self: center;
  }

  .box {
    background: $eeGrey;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}