.map-container {
    position: absolute !important;
    top: 225px;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #FFFFFF;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}