@import '../../assets/styles/global.scss';


.prodTracing {
  padding-left: 3rem;
  padding-right: 3rem;

  .filter {
    display: flex;
    flex-basis: 60%;
  }

  .search-form {
    width: 50%;
    position: relative;

    .search-field {
      height: 50px;
      background: $white;
      box-shadow: 0px 1px 3px $lightGrey;
      border-radius: 8px;
      padding: 0 0 0 15rem;
      font-size: 18px;
    }

    .floated {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      height: 50px;
      bottom: 0;
      width: 26%;
      display: flex;
      align-items: center;
      font-size: 18px;
      padding: 0;
      justify-content: space-around;
    }
  }

  

  .panel {
    background: $eeGrey;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      justify-content: flex-end;
    }
    
    
  }
}