@import '../../../assets/styles/global.scss';

.table {
  .overflow{
    height: 400px;
    overflow: auto;
  }
  .w-30{
    width: 30vw;
  }
  span, label{
    color: #000000;
    opacity: 1;
  }
  
  .theader{
      align-self: center;
      font-size: 14px;
      // color: #707070;
    }

    .trow {
      display: flex;
      background: #fff;
      // justify-content: space-between;
      margin-bottom: 20px;
      padding: 5px 0px;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #00000029;
      align-items: center;
      color: rgb(67, 78, 88);
      .tcell {
        border-right: 1px solid #d6d6d6;
        .form-control{
          border: none;
        }
        &:last-child {
          border-right: none;
        }
    }
  }

  .rTable {
    display: flex;
    flex-direction: column;
    width: 100%;

    .rTableHeading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .rTableBody {
      display: flex;
      justify-content: space-between;
    }

    .rTableRow {
      display: flex;
      background: #fff;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 5px 0px;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #00000029;
    }

    .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
    }

    .rTableCell,
    .rTableHead {
      flex: 1;
      padding: 1px 22px;
      align-self: center;
      font-size: 12px;
      // color: #707070;
    }


    
    .rTableCell {
      color: $black;
        font-weight: 400;
        padding: 1px 30px;
      a {
        color: $black;
        font-weight: 400;
      }
    }

    .combine-data {
      display: flex;
      align-items: center;
      font-weight: bold;
      
        color: #0093E9;
      
      
      .round-sign {
        margin-right: 10px;
        border-radius: 100%;
        background-color: #FFBCC4;
        font: Bold 11px Roboto;
        letter-spacing: 0px;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}





.editTable {


  .square-box {
    width: 25px;
    height: 20px;
    background-color: $lightBlue;
    border-radius: 5px;
    margin-right: 5px;
  }
  .rTable {

    .input-group,
    .form-group {
      .react-date-picker__wrapper{
              border:none;
      }
     .react-datepicker__month-wrapper{
        height:30px;
        width:205px;
      }
    
    
      margin-bottom: 0;
      border-bottom: none;

     
      .form-field {
        border: none;
        font-size: 10px;
      }
    }

    .rTableRow {
      padding: 0;

      .divider{
        font-size: 10px;
        color: black;
        

      }

      .rTableCell {
        border-right: 1px solid #d6d6d6;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &:last-child {
          border-right: none;
        }

        .form-group {
          flex-basis: 100%;

          .form-field {
            width: 100%;
            font-size: 10px;
          }
          
          .form-field1 {
            width:30%;
            font-size: 10px;
            border: none;
          }


        }
      }
    }
  }


}