@import '../../assets/styles/global.scss';

.sidebar {
  background: transparent linear-gradient(180deg, $primaryBlue 0%, $skyBlue 100%) 0% 0% no-repeat padding-box;
  box-shadow: 5px 0px 10px #00000029;
  border-radius: 0px 50px 0px 0px;
  height: calc(100vh - 80px);
  color: $white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0 20px;
  z-index: 9;
  top: 80px;


  @media screen and (max-width: 768px) {
    display: none;
  }


  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-bottom: 2rem;
      color: #89d1f0;
    

      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        color: $lightBlue;
        cursor: pointer;
        color: inherit;
      }

      &.active {
      
        color:white;
        cursor: default;
        position: relative;
 
        &:after {
          content: "";
          width: 8px;
          height: 150%;
          background-color: #FFFFFF;
          position: absolute;
          right: -20px;
          top: -8px;
          border-radius: 5px 0 0 5px;
        }
      }

      span {
        font-size: 12px;
      }

      img {
        width: 25px;

      }
    }
  }
}