@import '../../assets/styles/global.scss';

.vieworder {
    padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }
    .trackBtn{
      padding: 0.7rem 3rem;
    }
    .shadow{
      border-radius: 1rem;
    }
    .btn-outline-primary:hover, .btn-outline-primary:active{
      background-color: transparent !important;
    }
    .col{
      text-align: left;
    }
}