@import '../../assets/styles/global.scss';

.location-cards{
  padding-left: 0%;

.custom-card { 
  width: 22vw;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  .card-title {
    padding: 0;    
    font-size: 16px;
    font-weight: 500;
    color: #0093E9;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .card-header,
  .card-footer {
    padding: 0;    
    background-color: transparent;
    border: none;
    padding-bottom: 0%;
  }
  @media screen and (max-width: $sm) {
    margin: 0;
  }
  @media (min-width: $lg) {
    height: 220px;
  }

  @media (min-width: $xl) {
    height: 220px;
  }

  .card-body {
    padding: 0;    
    display: flex;
    flex-direction: column;
    padding-top: 0% !important;
    .total {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 2vh;        
    }
    .total-input {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 2vh;
      margin-bottom: 2vh;     
      border: 0vh;           
  }    
    .full-address {
        width: 30vh;
        font-size: 14px;
        color: #707070;
        padding-bottom: 2vh;
    }  
    .full-address-input {
      width: 30vh;
      font-size: 14px;
      color: #707070;
      padding-bottom: 2vh;
      margin-bottom: 2vh;   
      border: 0vh;    
  }      
    .pin-code {
      width: 30vh;
      font-size: 14px;
      color: #707070;
      padding-bottom: 2vh;      
  }   
  .pin-code-input {
    width: 30vh;
    font-size: 14px;
    color: #707070;
    padding-bottom: 2vh;    
    margin-bottom: 2vh;    
    border: 0vh;          
}       
  }
}
}

.edit-button{
  height: 5vh !important;
}

.role{
  font-size: 16px;  
  color: #707070;
}

.name{
  white-space: pre-wrap;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 3vh;
}

.row-list{
  font-size: 16px;
  padding-bottom: 1vh;
}

.location{
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.profile {
  padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }
    
    .custom-dropdown .btn-custom-dropdown{
      font-size:16px;
      color: black;
      @media (max-width: 1250px) {
        font-size:18px;
        color: black;
      }
    }
  .divider {
    border: 1px solid $d6Grey;
    display: flex;
    align-self: center;
  }

  .btn{

    border-radius: 15px;
}

.form-group,
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    color: #707070;
    text-align: center;
    font-size: 17px;
  }
   
  .form-control {
    border: none;
    background: transparent;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 0;
    color: $black;
    flex-basis: 55%;
    flex-grow: inherit;
    font-size: 16px;
  }
  .wallet{
    border-bottom:none;
    
  }
}
  ul {
    padding: 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    
   
    li {
      padding: 0.3rem 0.3rem;
      margin:0.4rem;
      list-style: none;


      .wallet{
        border-bottom:none;
        
      }
     
    
    }
}

  .userPic {
    img {
      height:160px;
      width:160px;
    }

    

  
  }

}
