@import "../../assets/styles/global.scss";

.overview {
  padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

  .full-width-ribben {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $eeGrey;
    @media screen and (max-width: 768px) {
      position: unset;
    }

    .row {
      margin-left: 9rem;
      @media screen and (max-width: 768px) {
        margin-left: 0;
        flex-direction: column;
      }
    }
  }

  .ribben-space {
    margin-top: 8rem;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;

      .col-lg-5 {
        margin-bottom: 1rem;
      }

      .col-lg-7 {
        margin-bottom: 1rem;
      }
    }
  }

  .custom-card {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    .card-title {
      margin-bottom: 0.75rem;
      font-size: 17px;
      font-weight: 500;
      color:#4D4F5C;
    }
    .card-header,
    .card-footer {
      background-color: transparent;
      border: none;
    }
    @media screen and (max-width: $sm) {
      margin: 0;
    }
    @media (min-width: $lg) {
      height: 420px;
    }

    @media (min-width: $xl) {
      height: 420px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-link {
        box-shadow: none;
        border-radius: 15px;
        border-width: 1px !important;
        
        
      }

      .total {
        .value {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }

  .bg-grey {
    background-color: $eeGrey;
    @media (min-width: $md) {
      margin-left: -3.556689rem !important;
    }
  }

  .panel {
    background: $eeGrey;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $d6Grey;
    @media screen and (max-width: 768px) {
      border-right: none;
      justify-content: flex-start;
    }

    .picture {
      width: 52px;
      height: 52px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      display: none;

      @media (min-width: 1280px) {
        display: flex;
      }
      @media (min-width: $xl) {
        display: flex;
        width: 60px;
        height: 60px;
      }

      @media screen and (max-width: 768px) {
        display: flex;
      }

      @media (min-width:1024px) {
        display: flex;
       
      }


      img {
        width: 52px;
        height: 26px;
      }

      .currentintransit{

      width: 52px;
      height: 32px;
      }

      &.truck-bg {
        background: $white;
      }
    }
      
    .time {
width: 52px;
      height: 52px;
background-color: white;
 box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      display: flex;
 @media (min-width: $xl) {
        display: flex;
width: 60px;
        height: 60px;
      }
    }


    .title {
      font-size: 9px;
      line-height: 12px;
      font-weight: bold;
      color: #707070;
      @media (min-width: $xl) {
        font-size: 12px;
      }
    }

    .count1{
      font-size: 26px;
      color: #0B65C1;
      font-weight: bold;
    }

    .count2 {
      font-size: 26px;
      color:#2A9FAA;
      font-weight: bold;
    }

    .count3 {
      font-size: 26px;
      color: #0093E9;
      font-weight: bold;
    }

    .count4 {
      font-size: 26px;
      color: #36C2CF;
      font-weight: bold;
    }

    
    .count5 {
      font-size: 26px;
      color: #FFAB1D;
      font-weight: bold;
    }

    .dayStatus {
      font-size: 9px;
      
      color: $black;
    }

    &:after {
      border: 1px solid $lightGrey;
      height: 50px;
    }
  }
}
